.banner{
    display: flex;
    height: 527px;
    
    justify-content: space-between;
}
/*
#sonaImg{

#sonaImg::after{
  
    height: 450px;
    opacity: 0.95;
    box-shadow: inset 20px 20px 40px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    
    box-shadow: inset 20px 20px 40px rgba(0, 0, 0, 0.5);
    height: 100%;
    
    

}
*/
.bannerImg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #183E32;
    background-image: url(../../img/valorantBanner.png);
    background-repeat: no-repeat;
    background-position-x: 10%;
    height: 100%;
    width: 934px;
}
.bannerImgContainner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #183E32;
    background-repeat: no-repeat;
    background-position-x: 10%;
    height: 100;
    width: 50%;
}
/*TODO: passar os center par left a partir de um certo tamanho de tela pra ficar bonitin :)*/
.bannerImg::after{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, transparent 0%,#183e3256 70%, #183e32 98%);
    content: '';
    /*mds que gambiarraaaaa*/
}


.bannerText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, #183E32 1%, black 99%);
    width: 50%;
    color: white;
}
#inscrevaseeButton{
    width: 290px;
    height: 60px;
    border: none;
    background: #276452;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: larger;
    color: white;
}
.games{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    height: 125px;
    align-items:center;
    padding-left: 10%;
    padding-right: 10%;
}
.gameBox{
    display: flex;
    justify-content: center;
    width: 222px;
    height: 88px;
    background: #10130F;
    box-shadow: 1px 2px 4px rgba(105, 105, 105, 0.31);
    border-radius: 10px;
    align-items: center;
    
}
.logoGameBar{
    width: 70%;
}